{% extends 'polls/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="auth-wrap">
    <div class="form-wrap" id="formWrap">

        <header class="form-wrap__header">
            <h1>Change password</h1>
            <p>set up new password</p>
        </header>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="session-input-group">
                <label for="current-password">Current Password</label>
                <input type="text" id="current-password" name="old_password" required>
                {{ form.old_password.errors }}
            </div>
            <div class="session-input-group">
                <label for="id_new_password1">New Password</label>
                <input type="password" id="id_new_password1" name="new_password1" required>
            </div>
            <div class="session-input-group">
                <label for="id_new_password2">Confrim Password</label>
                <input type="password" id="id_new_password2" name="new_password2" required>
                {{ form.new_password2.errors }}
            </div>
            <div class="session-input-group">
                <button type="submit" title="Reset">Change Password</button>
            </div>
        </form>

    </div>

    <div class="auth-wrap__shape">
    </div>
</div>
{% endblock content %}