<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opinion</title>
    <!-- local css -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/main.css' %}">
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Shippori+Mincho+B1:wght@700&display=swap" rel="stylesheet">

</head>
<body>
  <div class="navbar">
    <div class="navbar__logo-wrap">
      <a href="{% url 'home' %}" class="logo">
        <i class="fas fa-bullhorn" id="logo_icon"></i>opini<span class="logo__span">on</span></a>
    </div>
    <div class="navlinks">
      <ul class="navlinks__ul">
        <li class="navlinks__li">
          <a href="{% url 'today' %}" class="navlinks__link">Today's Question</a>
        </li>
        <li class="navlinks__li">
          <a href="{% url 'polls' %}" class="navlinks__link">Archive</a>
        </li>
        <li class="navlinks__li">
          <a href="{% url 'about' %}" class="navlinks__link">
            About<p class="about_span">US</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="authlinks">
      <ul class="authlinks__ul">
        {% if user.is_authenticated %}
          <li class="authlinks__li">
            <a class="authlinks__link" href="#">{{ user.username }}</a>
          </li>
          <li class="authlinks__li" id="logOut">
            <a class="authlinks__link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="authlinks__li">
            <a class="authlinks__link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="authlinks__li" id="singUp">
            <a class="authlinks__link" href="{% url 'register' %}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
   
  </div>
    <div class="main-container">
      {% for message in messages %}
        <div class="messages-wrap {{ message.tags }}" id="messagesWrap">
          <p>{{ message }}</p>
        </div>
      {% endfor %}
      {% block content %}
      {% endblock content %}
    </div>

    <script src="https://kit.fontawesome.com/e84f325d20.js" crossorigin="anonymous"></script>
    <!-- <script src="{% static 'polls/js/navbar.js' %}"></script> -->
</body>
</html>