{% extends 'polls/main.html' %}
{% load static %}
{% block content %}

<div class="polls-list-wrap">
    <div class="polls-list-header">
        <div class="polls-list-header__title">Polls Archive</div>
        <div class="polls-list-header__text">below are the polls that already expired</div>

        <select class="polls-list-header__dropdown"  name="polls-filter" id="polls-filter">
            <option class="filterOption" id="RecentFilter" value="recent">Recent</option>
            <option class="filterOption" id="OldestFilter" value="oldest">Oldest</option>
        </select>

    </div>

    <div class="polls-list" id="listWrapper"></div>
    <div class="pagination-wrap" id="paginationWrap"></div>
    
</div>


<script>

    getList()

    function getList(apiUrl = 'http://127.0.0.1:8000/api/question-list/') { /* set default url to first page of api listdata */
        // get main poll wrapper to add data later
        var listWrapper = document.getElementById('listWrapper')
        // define url based on passed parameter
        var url = apiUrl
        
        // make api call
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data) {
            console.log(data)
            // POLL DATA
            var pollsList = data['results']
            var votesCounts = data['votesCount']

            fillContent(pollsList)

            // FILTER

            const selectElement = document.querySelector('.polls-list-header__dropdown');

            selectElement.addEventListener('change', (event) => {
                if (event.target.value == 'recent') {
                    console.log(event.target.value)
                    fillContent(pollsList.reverse())
                  
                } else if (event.target.value == 'oldest') {
                    console.log(event.target.value)
                    fillContent(pollsList.reverse())
                }
            });

            // add data to container
            function fillContent(list) {
                listWrapper.innerHTML = "";
                for (var i in list) {
                    var poll = list[i]

                    var pollText = poll['question_text']
                    var pollId = poll['id']
                    var pollPubDate = poll['pub_date']

                    var pollVoteCount = votesCounts[pollId]
                    
                    var pollData = `
                    <a class="question-details" href="#" data-id=${pollId}>
                        <h2 class="question-details__title">
                            ${pollText}
                        </h2>
                        <p class="question-details__date-added">${pollPubDate}</p>
                        <span class="question-details__vote-counts">
                            <span id="voteCount">${pollVoteCount}</span> Votes
                        </span>
                    </a>
                    `
                    listWrapper.insertAdjacentHTML('beforeend', pollData)

                    // add eventlistener to poll wrappers
                    var pollWrapperLink = document.getElementsByClassName('question-details')

                    pollWrapperLink[i].addEventListener('click', function(){
                        var id = this.dataset.id
                        window.location.replace(`/poll/${id}/`)
                    })

                };
            }
            // PAGINATION
            
            // get pagination wrap
            var paginationWrap = document.getElementById('paginationWrap')

            // create navigation btns
            var paginationBtns = `
            <button class="pagination-wrap__btn" id='previous'>
                Previous
            </button>
            <button class="pagination-wrap__btn" id='next'>
                Next
            </button>
            `
            // add navigation btns to pagination wrap
            paginationWrap.insertAdjacentHTML('beforeend', paginationBtns)
            
            // get navigation btns
            nextBtn = document.getElementById('next')
            previousBtn = document.getElementById('previous')

            // if any of btn's value is equal to null disable it
            
            if (data['previous'] == null) {
                previousBtn.disabled = true
                previousBtn.classList.add('disabled')
            }

            if (data['next'] == null) {
                nextBtn.disabled = true
                nextBtn.classList.add('disabled')
            }

            // add eventlistener to navigation btns

            document.getElementById('next').addEventListener('click', function(){
                // clean old data
                document.getElementById('paginationWrap').innerHTML = ''
                listWrapper.innerHTML = ''
                // fetch to next url
                getList(data['next']) /* this comes from drf pagination */
            });

            // same here
            document.getElementById('previous').addEventListener('click', function(){
                document.getElementById('paginationWrap').innerHTML = ''
                listWrapper.innerHTML = ''
                getList(data['previous'])
            });

        });
    };

    

</script>

{% endblock content %}
