{% extends 'polls/main.html' %}
{% load static %}
{% block content %}

<div class="polls-list-wrap">
    <!-- <div style="margin-bottom: 50px;">.</div> -->
    <div class="polls-list-header">
        <div class="polls-list-header__title">Polls Archive</div>
        <div class="polls-list-header__text">below are the polls that already expired</div>

        <select class="polls-list-header__dropdown"  name="polls-filter" id="polls-filter">
            <option value="recent">Recent</option>
            <option value="popular">Pupular</option>
            <option value="oldest">Oldest</option>
        </select>

    </div>
    <div class="polls-list" id="listWrapper">
       
    </div>
</div>

<script>
    getList()

    function getList() {
        // get container to add polls
        var listWrapper = document.getElementById('listWrapper')

        // send request to get polls data
        var url = 'http://127.0.0.1:8000/api/question-list/'
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data) {
            console.log(data)
            // pollData
            var pollsList = data
            // add data to container
            for (var i in pollsList) {
                
                var poll = pollsList[i]

                var pollText = poll['question_text']
                var pollId = poll['id']
                var pubDate = poll['pub_date']
                
                var pollData = `
                <a class="question-details" href="#" data-id=${pollId}>
                    <h2 class="question-details__title">
                        ${pollText}
                    </h2>
                    <p class="question-details__date-added">${pubDate.substring(0, 10)}</p>
                    <span class="question-details__vote-counts">
                        <span id="voteCount">0</span> Votes
                    </span>
                </a>
                `
                listWrapper.insertAdjacentHTML('beforeend', pollData)
                var viewPollBtn = document.getElementsByClassName('question-details')
                
                // add event listener to each view button for detail view redirection
                viewPollBtn[i].addEventListener('click', function(){
                    var id = this.dataset.id
                    window.location.replace(`/poll/${id}/`)
                })
            };

        });
    };


</script>
{% endblock content %}

