@import './reset';
@import './media';
@import './variables';
@import './nav';
@import './home';
@import './poll';
@import './polls';
@import './auth';
@import './about';
@import './pagination';
@import './messages';
@import './detailview';
@import './footer';

body {
    font-family: $primary-font-family;
    background-color: $background-color;
    overflow-x: hidden;
}

.main-container {
    height: 90vh;
    width: 100%;
}