{% extends 'polls/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="auth-wrap">
    <div class="form-wrap" id="formWrap">

        <header class="form-wrap__header">
            <h1>Login</h1>
            <p>Securely login to your account</p>
        </header>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="session-input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="session-input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="session-input-group">
                <button type="submit" title="Login">Login</button>
            </div>
            <div class="form-recover-section">
                <small class="text-muted">Forgot Password ?</small> <a href="{% url 'reset_password' %}">Recover now</a>
            </div>
        </form>

    </div>

    <div class="auth-wrap__shape">
    </div>
</div>
{% endblock content %}