{% extends 'polls/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="auth-wrap">
    <div class="form-wrap" id="formWrap">
        <header class="form-wrap__header">
            <h1>Password reset confirmation link was sent</h1>
            <p>If you don't receive an email, please make sure you've entered correct address, and check your spam folder.</p>
        </header>
    </div>

    <div class="auth-wrap__shape">
    </div>
</div>
{% endblock content %}