{% extends 'polls/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="auth-wrap">
    <div class="form-wrap" id="formWrap">

        <header class="form-wrap__header">
            <h1>Password Reset</h1>
            <p>Enter your email address below.</p>
        </header>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="session-input-group">
                {{ form }}
            </div>
            <div class="session-input-group">
                <button type="submit" title="Send">Send</button>
            </div>
        </form>

    </div>

    <div class="auth-wrap__shape">
    </div>
</div>
{% endblock content %}